*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}

:root{

    --primaria: #4f46e5;
    --secundario: #7c3aed;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255 , 255, 0.1);
}

body{
    background-color: var(--escuro);
    color: var(--claro);
}
.navegação{
    position:fixed;
    background-color:rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    top: 0;
    padding: 1.5rem;
}
.links{
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;

}

.link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: o.5rem 0;
    
}
.link::after{
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundario));
    transition: width 0.5s ease;

}
.link:hover::after{
    width: 100%;


}
.cabecalho{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
    font-size: 3rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px ;
}
.eu{
    font-size: 1.5rem;
    color: var(--claro);
}
.perfil-foto{
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--claro);
    animation: flutuar 5s ease-in-out infinite;
}

.Sobre{
     padding: 6rm 2rem;
}

.Sobre-titulo{
font-size: 3rem;
text-align: center;
margin-bottom: 2px;
}

.Sobre-Caixa{
padding: 2rem;
max-width: 800px;
margin: 0 auto;
border-radius: 16px;
border: 1px solid var(--vidro);
backdrop-filter: blur(10px);
background-color: rgba(255, 255, 255, 0.05);

}

.Sobre-Paragrafo{
text-align: center;
font-size: 1.2rem;

}

.Contacto{
    padding: 6rem 2rem;


}
.Titulo-Contacto{
    font-size: 2.5rem;
        text-align: center;
        margin-bottom: 50px;

}
.gform{
    max-width: 600px;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;

}
.nome{
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05) ;
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);

}
.Mensagem{
    
}




.particulas{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background-color: radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%), radial-gradient(circle at 90% 80%, var(--secundario) 0%, transparent 20%), var(--maisescuro) ;
}

@keyframes flutuar {
    
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }


}
.botao{
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundario));
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: 
    font-weight: bold;
    width: 100%;
    transition all 0.5 ease;

}
.botao:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);

}